.container-my-auctions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    margin-top: 100px;
}



.auctions-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 80%;
    margin-bottom: 20px;
}

.auction-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 280px; /* Ajustando a largura das cartas */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}



.auction-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.auction-info {
    margin-top: 10px;
    text-align: center;
}

.auction-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.auction-text {
    font-size: 1rem;
    color: #555;
}

.auction-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.btn-my-auctions {
    color: black;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    border-radius: 5px;

    text-decoration: none;
    display: block;
    transition: 0.3s ease-in-out;
}

.butt-del {
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
}

    .btn-my-auctions:hover{
        transform: scale(1.05);
        color: black;
    }

.butt-del:hover {
    transform: scale(1.05);
    color: red;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-link {
    border-radius: 10px;
    color: green;
    text-decoration: none;
}

    .page-link:hover {
        color: seagreen;
    }



.no-auctions {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}

.create-auction-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

