/* Navbar */
.navbar {
    background-color: #2c6e49 !important;
    display: flex !important;
    justify-content: space-between !important; /* Para garantir que o logo fique à esquerda e os links à direita */
    align-items: center !important; /* Garante que todos os itens da navbar fiquem verticalmente alinhados */
    z-index: 101;
    position: fixed;
    top:0;
    width: 100%;
}

/* Ajusta o alinhamento do ul que contém Login e Register */
.navbar-nav.ml-auto {
    margin-left: auto;
    display: flex; /* Torna os itens em linha */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

/* Estilo para o logo */
.navbar img {
    margin-left: 20px;
    height: 40px;
}

.navbar .navbar-nav .nav-link {
    color: white !important;
    font-size: 18px !important;
    padding-left: 20px !important;
    margin-right: 10px !important;
}

    .navbar .navbar-nav .nav-link:hover {
        color: #e0e0e0 !important;
    }


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e9f5e1;
    height: 100%;
}

.login-page, .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    margin-top: -100px;
}

.login-container, .register-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Ajuste no tamanho do input e borda */
input {
    padding: 12px;
    font-size: 14px; /* Ajuste para um tamanho de fonte menor */
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 12px;
    outline: none;
}

.form-control {
    font-size: 0.8rem; /* Tamanho menor */
}

.text-danger {
    margin-top:-20px;
    font-size: 0.8rem; /* Tamanho menor para o texto de erro */
}


    input::placeholder {
        font-size: 14px; /* Tamanho menor do placeholder */
        color: #bbb; /* Cor do placeholder */
    }

    input:focus {
        border-color: #45a049;
        outline: none;
    }

.btn {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #45a049;
        color: white;
    }

.login-btn, .register-btn, .btn-save {
    background-color: #4caf50;
    color: white;
    width: 100%;
}

.forgot-password-link {
    font-size: 14px;
    color: #4caf50;
    text-decoration: none;
}

    .forgot-password-link:hover {
        text-decoration: underline;
        color: #4caf50;
    }

.alert {
    margin-top: 0px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f44336;
    color: white;
}


/* Estilo para o cartão de perfil */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header do cartão */
.card-header {
    background-color: #28a745;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Botões do perfil */
.btn {
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

    .btn:hover {
        transform: scale(1.01);
    }

.btn-info {
    background-color: #17a2b8;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-outline-dark {
    border-color: #343a40;
    color: #343a40;
}

    .btn-outline-dark:hover {
        background-color: #343a40;
        color: white;
    }

/* Espaçamento entre os botões */
.btn-group .btn {
    margin-bottom: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    color: #333;
}

.card-body p {
    font-size: 1rem;
    color: #555;
}

.card-body .btn-group {
    margin-top: 30px;
}

/* Alinhar o título e o botão Edit no topo */
.d-flex {
    justify-content: space-between;
    align-items: center;
}

.btn-profile {
    background-color: #4caf50; /* Verde escuro mais sóbrio */
    color: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 50%; /* Faz o botão ocupar a largura disponível */
    margin-bottom: 10px; /* Adiciona espaçamento entre os botões */
    transition: 0.4s;
    /* Centraliza o texto dentro do botão */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    text-decoration: none;
}

    /* Efeito de hover (quando o mouse passa sobre o botão) */
    .btn-profile:hover {
        background-color: #2c6e49; /* Verde mais escuro para o hover */
        transform: scale(1.03); /* Efeito de zoom no hover */
        color: white;
    }

.btn-group {
    gap: 10px;
}

.btn-profile.cancel-btn {
    background-color: #b83232; /* Vermelho escuro */
}

    .btn-profile.cancel-btn:hover {
        background-color: #8c1a1a; /* Vermelho mais escuro no hover */
    }





.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.forgot-password-container {
    width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
 
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password-btn {
    background-color: #007bff;
    color: white;
}

.back-to-login-link {
    text-decoration: none;
    color: #007bff;
    display: block;
    text-align: center;
    margin-top: 15px;
}




/* PARTE DOS LEILOES */
.checkbox-container {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center; /* Alinha verticalmente */
    margin: 10px 0;
}

    .checkbox-container span {
        margin-right: 10px; /* Espaçamento entre o texto e o checkbox */
    }

/* Barra lateral *//* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px; /* Largura fixa da sidebar */
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 1px solid #ccc;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Garante que os itens comecem de cima */
    align-items: stretch; /* Garante que os itens se estendam para toda a largura */
}

.sidebar h3 {
    font-size: 1.5em; /* Aumentei o tamanho do título para maior destaque */
    color: #333;
    margin-bottom: 20px;
    text-align: left; /* Garantir que o título da sidebar esteja alinhado à esquerda */
}

.filters, .price-range {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens da sidebar à esquerda */
}

.price-range input {
    width: 100%; /* Garante que o input ocupe toda a largura disponível */
    padding: 8px;
    margin-bottom: 8px;
}

.btn-apply, .btn-clear, .btn-create {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-clear {
    background-color: #dc3545;
}

.btn-create {
    background-color: #007bff;
}

.btn-apply:hover, .btn-clear:hover, .btn-create:hover {
    background-color: #2d9c49;
}

.sidebar .btn-apply, .sidebar .btn-clear, .sidebar .btn-create {
    width: 100%; /* Faz os botões ocuparem toda a largura disponível */
}

/* Leilões Grid */
.grid-leiloes {
    margin-left: 280px; /* Garante que o grid de leilões tenha espaço para a sidebar */
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.leilao-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: .4s;
}

.leilao-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.img-leilao {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border-bottom: 1px solid black;
}

.leilao-details h5 {
    font-size: 1.1em;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-view, .btn-delete {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-view:hover, .btn-delete:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 1200px) {
    .grid-leiloes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .grid-leiloes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-leiloes {
        grid-template-columns: 1fr;
    }

    .sidebar {
        position: absolute; /* Torna a sidebar fixa apenas no topo */
        top: 0;
        left: 0;
        width: 100%;
        height: auto; /* Torna a sidebar com altura automática */
        padding: 10px;
        border-right: none;
    }

    .grid-leiloes {
        margin-left: 0;
    }
}

.btn-delete {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

    .btn-delete:hover {
        transform: scale(1.1);
        background: none;
    }

.btn-create {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px; /* Definir uma largura fixa */
    height: 60px; /* Definir uma altura fixa para mantê-lo redondo */
    border-radius: 100%; /* Deixa o botão completamente redondo */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c6e49; /* Cor azul padrão */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar destaque */
    transition: background-color 0.3s, transform 0.2s;
}

    .btn-create:hover {
        background-color: #1c6e49; /* Azul mais escuro no hover */
        transform: scale(1.1); /* Efeito de crescimento ao passar o mouse */
        color:white;
    }

    .btn-create:active {
        transform: scale(0.9); /* Efeito de clique */
    }


    .alertt{
        width: 500px;
        position: absolute;
        top: 80px;
        left: 900px;
    }