@model projeto.Models.Utilizador

@{
    ViewData["Title"] = "Alterar Senha";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ConfirmPassword" method="post">
    <div class="form-group">
        <label for="currentPassword">Senha Atual</label>
        <input type="password" name="currentPassword" class="form-control" id="currentPassword" required />
        @if (ViewData.ModelState["confirmPassword"]?.Errors.Count > 0)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState["confirmPassword"].Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary">Alterar Senha</button>
</form>