@model LoginModel

@{
    ViewData["Title"] = "Esqueci Minha Senha";
}

<div class="container forgot-password-page">
    <div class="forgot-password-container">
        <form method="post" asp-action="ForgotPassword">
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Code">Código de Redefinição:</label>
                <input type="text" class="form-control" id="Code" name="Code" required />
            </div>

            <button type="submit" class="btn login-btn">Confirm</button>
        </form>

       

        @if (!string.IsNullOrEmpty(ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage))
        {
            <div class="alert alert-danger mt-3">
                @ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage
            </div>
        }
    </div>
</div>
