@{
    ViewData["Title"] = "Pagamentos com Stripe";
}

<h2 style="margin-top:50px;">Simulação de Pagamento</h2>


@if (TempData["PaymentSuccess"] != null)
{
    <div id="successMessage" class="alert alert-success fade show" role="alert">
        @TempData["PaymentSuccess"]
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let message = document.getElementById("successMessage");
            if (message) {
                setTimeout(() => {
                    message.classList.remove("show");
                    setTimeout(() => message.remove(), 500);
                }, 2300);
            }
        });
    </script>

    <style>
        #successMessage {
            position: fixed;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1050;
            transition: opacity 0.5s ease-in-out;
        }
    </style>
}


@if (!Model.LeiloesGanhos.Any())
{
    <p class="m-xl-auto">@(english ? "You haven't won any auctions yet." : "Você ainda não ganhou nenhum leilão.")</p>
}
